  
  body {

}

.container {
  display: flex;
  flex-direction: row;
  /* background-color: grey; */
  position: absolute;
  height: 100%;
  width: 100%;
  
}

.row {
  display: flex;
  /* background-color: blueviolet; */
  flex-direction: row;
  position: fixed;
  top: 25%;
  left: 28%;
}

.buttonsleft {
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.character {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.characterpic {
    margin-top: 30px;
    width: 200px;
    height: 300px;
    margin: 20px;
}

.HPbar {
    margin: 20px;
    padding-left: 5px;
    width: 210px;
}


.buttonsright {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button {
    margin: 15px;
    width: 80px;
    height: 30px;
 border-style: solid;
 border-color: red;
 border-width: 1px;
 border-radius: 7px;
 box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.button:active {
    background-color: #eb9292;
    color: aliceblue;
}

.email {
    /* background: url(/email.png); */
    margin: 15px;
    width: 80px;
    height: 30px;
 border-style: solid;
 border-color: #7194dd;
 border-width: 1px;
 border-radius: 7px;
 box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.email:active {
background-color: #7194dd;
color: aliceblue;
}
